<main>
  <p-card styleClass="card-adjust">
    <div class="mb-3">
      <span class="title colorTitle">Cadastro de Pedido</span>
    </div>

    <div class="flex justify-content-start mb-2">
      <button pButton type="button" class="p-button-primary" icon="pi pi-arrow-left" pTooltip="Voltar"
        routerLink="/pedidos"></button>
    </div>


    <form #formPedido="ngForm" (ngSubmit)="salvar(formPedido)">
      <div class="grid flex flex-wrap justify-content-center">

        <div class="col-12 md:col-6 lg:col-3">
          <span>NF</span>
          <input type="number" name="nf" #nf="ngModel" [(ngModel)]="pedidos.nf" pInputText class="w-full"
            [required]="true" minlength="2" maxlength="60" [pKeyFilter]="regex.stringNumber" upperCase />

          <app-message [control]="nf" error="required" text="NF é obrigatória..."></app-message>
          <app-message [control]="nf" error="minlength" text="Mínimo de 5 caracteres..."></app-message>
          <app-message [control]="nf" error="maxlength" text="Máximo de 10 caracteres..."></app-message>
        </div>




        <div class="col-12 md:col-6 lg:col-3">
          <span>Representante</span>
          <input type="text" name="representante" #representante="ngModel" [(ngModel)]="pedidos.representante"
            pInputText class="w-full" [required]="true" minlength="2" maxlength="60"
            [pKeyFilter]="regex.stringNumber" />

          <app-message [control]="representante" error="required" text="Representante é obrigatório..."></app-message>
          <app-message [control]="representante" error="minlength" text="Mínimo de 5 caracteres..."></app-message>
          <app-message [control]="representante" error="maxlength" text="Máximo de 30 caracteres..."></app-message>
        </div>

        <div class="col-12 md:col-6 lg:col-3">
          <span>Arquiteto</span>
          <input type="text" name="arquiteto" #arquiteto="ngModel" [(ngModel)]="pedidos.arquiteto" pInputText
            class="w-full" [required]="true" minlength="2" maxlength="60" [pKeyFilter]="regex.stringNumber" />

          <app-message [control]="arquiteto" error="required" text="Arquiteto é obrigatório..."></app-message>
          <app-message [control]="arquiteto" error="minlength" text="Mínimo de 5 caracteres..."></app-message>
          <app-message [control]="arquiteto" error="maxlength" text="Máximo de 30 caracteres..."></app-message>
        </div>

        <div class="col-12 md:col-6 lg:col-2"></div>
        <div class="col-12 md:col-6 lg:col-2"></div>

        <div class="col-12 md:col-6 lg:col-3">
          <button pButton class="p-button-raised p-button-secondary" type="button" label="Vincular Produtos"
            icon="pi pi-bars" (click)="prepararNovoPedido()"></button>
        </div>


      </div>
        <p-table [value]="pedidos.produtos" [scrollable]="true" [rows]="10" paginator="true" [columns]="colsItens"
          [showCurrentPageReport]="true" [rowHover]="true" selectionMode="single" styleClass="p-datatable-striped"
          selectionMode="single" currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas" r>

          <ng-template pTemplate="header" let-columns>
            <tr>
              <th class="btnAcoes">&nbsp;</th>
              <th class="btnAcoes">&nbsp;</th>
              <th style="width: 100px;">ID</th>
              <th style="width: 100px;">Quantidade</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-itens let-columns="columns" let-rowData let-rowIndex="rowIndex">
            <tr [pSelectableRow]="rowData">
              <td class="btnAcoes">
                <button pButton pRipple type="button" class="p-button-text p-button-danger " icon="fas fa-trash"
                  label="Excluir" pTooltip="Excluir" tooltipPosition="top" (click)="confirmarExclusao()"></button>
              </td>
              <td style="width: 100px;">
                <span class="p-column-title">Acesso:</span>
                {{rowData.idProduto}}
              </td>
              <td style="width: 100px;">
                <span class="p-column-title">Exame:</span>
                {{rowData.quantidade}}
              </td>
            </tr>
            <div id="linha-horizontal"></div>
          </ng-template>

        </p-table>


      
      <div class="flex flex-wrap justify-content-center mt-4">
        <div class="col-12 md:col-6 lg:col-3">
          <button pButton type="submit" class="p-button-primary w-full" icon="pi pi-save"
            [disabled]="formPedido.invalid || salvando" pTooltip="Salvar" label="Salvar"></button>
        </div>
      </div>

      <div *ngIf="salvando" class="grid flex justify-content-center mt-4">
        <div class="col-12 text-center">
          <p-progressSpinner [style]="{ width: '50px', height: '50px' }" styleClass="custom-spinner" strokeWidth="8"
            animationDuration=".5s"></p-progressSpinner>
          <h4 class="mt-3">Salvando, aguarde...</h4>
        </div>
      </div>


    </form>
  </p-card>
</main>






<p-dialog header="PRODUTOS" styleClass="mydialog" [baseZIndex]="10000" [(visible)]="exibirForm" modal="modal"
  *ngIf="produtoPedido" closeOnEscape="true" dismissableMask="true">
  <form #frmProd="ngForm" autocomplete="off" (ngSubmit)="confirmarPedido(frmProd)">
    <div class="grid mt-4">
      <div class="col-12 md:col-6">
        <p-dropdown styleClass="dropdown" name="prtodutoSelecionado" filter="true" [autoDisplayFirst]="false"
          [options]="produtos" [(ngModel)]="produtoPedido.idProduto" [showClear]="true"
          [emptyFilterMessage]="messageDrop" placeholder="Selecione..." required>
        </p-dropdown>

        <div class="grid mt-3">
          <div class="col-12 md:col-6">
            <span>Quantidade</span>
            <input type="number"
                   name="quantidade"
                   [(ngModel)]="produtoPedido.quantidade"
                   #quantidade="ngModel"
                   pInputText
                   class="w-full"
                   required
                   min="1" />
            
            <!-- Validações -->
            <app-message [control]="quantidade" error="required" text="Quantidade é obrigatória."></app-message>
            <app-message [control]="quantidade" error="min" text="Quantidade mínima é 1."></app-message>
          </div>
        </div>
      </div>
    </div>

    <div class="grid flex flex-wrap justify-content-center mt-5">
      <div class="col-12 md:col-6">
        <button pButton pRipple type="submit" label="Confirmar" icon="fas fa-save" [disabled]="frmProd.invalid"
          class="p-button-raised p-button-success w-full"></button>
      </div>
    </div>
  </form>
</p-dialog>